body { margin:0 auto; }

div.left {
  border-right: 1px solid #ccc;
}

div.top {
  border-bottom: 1px solid #ccc;
}

#camera { width: 60vw; padding: 0px; }

#results {
  min-height: 160px;
  font-size: 10pt;
  word-wrap: break-word;
}

#logs {
  font-size: 10pt;
  padding-left: 5px;
}
